# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
.pytest_cache/

# Drivers & large third-party binaries
drivers/*.exe
drivers/*.zip
tools/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
